* {
    font-family: Verdana, Tahoma, sans-serif;
}

.main-frame {
    margin-left: 10%;
    width: 80%;
    height: 100vh;
}

main {
    overflow: scroll;
    height: 68vh;
    background-color:cornflowerblue;
}

.menu
{
    height: 4vh;
    background-color: darkgoldenrod;
}

footer{
    background-color: darkgoldenrod;
}

main::-webkit-scrollbar {
    width: 0;
}

.table-max {
    width: 100%;
    background-color: darkgoldenrod;
}

.main-menu-ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-menu-a {
    text-decoration: none;  
    background-color: darkgoldenrod;
}

.main-menu-li {
    float: right;
    margin-top: 0.7%;
    margin-right: 0.5%;
    font-size: large;
    font-weight: bold;
    vertical-align: bottom;
}

h2{
    color: darkblue;
    font-size: large;
    font-weight: bolder;
    margin: 2%;
}

h3{
    color: darkblue;
    font-weight: bold;
}

.footer-style
{
    font-size: high;
}

.range{
    font-size: high;
    font-style: italic;
    padding: 1%;
}

.location{
    font-size: high;
}

.skills{
    font-size: high;
}

.description{
    font-size: high;
}

.phoema{
    font-size: high;
    font-style: oblique;
}

.education{
    color: darkblue;
    font-size: larger;
    font-weight: bolder;  
}

.exp{
    font-size: small;
}

.address
{
    font-size: xx-small;
    font-style: italic;
}

.code
{
    font-size: small;
    color:darkblue;
}

.code{
    font-weight: 800;
}